/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cart.css */
.cart-container {
  position: fixed;
  right: 0; 
  top: 0;
  bottom: 0;
  width: 50%;
  max-width: 600px; /* Limita a largura máxima do carrinho */
  overflow-y: auto; /* Adiciona scroll vertical caso necessário */
  background-color: #fff;
  color: #000;
  padding: 20px;
  z-index: 1000; /* Z-index para garantir que fique acima de outros conteúdos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
}

/* styles.css */

.close-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #555;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-price {
  font-size: 1rem;
  color: #666;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: #777;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.total-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.clear-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #777;
}

.cart-payment {
  background-color: #256bd4;
  color: #fff;
  width: 25%;
  margin-left: 8.5rem;
  border: none;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-cart {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Responsividade */
@media (max-width: 991px) {
  .cart-container {
      width: 100%;
      top: 50px;
      right: 10px;
      left: 10px;
      max-width: calc(100% - 20px);
      font-size: 0.9rem; /* Ajuste o tamanho do texto do modal conforme necessário */
  }

  .cart-title {
      font-size: 1.5rem; /* Ajuste o tamanho do título do modal conforme necessário */
  }

  .close-btn,
  .quantity-btn,
  .clear-btn,
  .cart-payment {
      font-size: 0.7rem; /* Ajuste o tamanho dos botões do modal conforme necessário */
      padding: 6px 12px; /* Ajuste o padding dos botões conforme necessário */
      width: auto; /* Ajuste a largura dos botões conforme necessário */
  }

  .cart-payment {
      width: 50%; /* Ajuste a largura do botão de pagamento conforme necessário */
      margin-left: 0; /* Remova a margem esquerda */
  }

  .item-name {
      font-size: 1rem; /* Ajuste o tamanho do nome dos itens conforme necessário */
  }

  .item-price {
      font-size: 0.9rem; /* Ajuste o tamanho do preço dos itens conforme necessário */
  }

  .total-title {
      font-size: 1rem; /* Ajuste o tamanho do título do total conforme necessário */
  }
}
